@model ehr_csharp.Models.Consulta
@{
    var i = 0;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atestado Médico</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            height: 100vh;
            box-sizing: border-box;
        }

        .email-container {
            width: 100%;
            height: 100vh; /* Garante que ocupa uma página */
            margin: 0;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Distribui o conteúdo verticalmente */
        }

        .header {
            text-align: center;
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
        }

            .header h1 {
                font-size: 24px;
                margin: 0;
                color: #007bff;
            }

            .header p {
                font-size: 14px;
                color: #333333;
                margin: 5px 0 0;
            }

        .content {
            flex-grow: 1; /* Faz o conteúdo central se ajustar automaticamente */
            line-height: 1.6;
            color: #333333;
            margin-bottom: 20px; /* Adiciona espaço antes do rodapé */
        }

            .content h2 {
                font-size: 20px;
                text-align: center;
                color: #007bff;
                margin-bottom: 20px;
            }

            .content p {
                font-size: 16px;
                margin: 10px 0;
            }

                .content p span {
                    font-weight: bold;
                    text-decoration: underline;
                }

        .signature {
            text-align: center;
            margin-top: 20px;
            color: black;
        }

            .signature div {
                display: inline-block;
                text-align: center;
                margin: 0 40px;
            }

        .footer {
            text-align: center;
            font-size: 14px;
            color: #777777;
            border-top: 1px solid #e0e0e0;
            padding-top: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <!-- Cabeçalho -->
        <div class="header">
            <h1>@Model.Medico.Usuario.Name - CRM: @Model.Medico.CRM</h1>
            <p>@Model.Medico.Especialidade.Descricao</p>
        </div>

        <!-- Conteúdo principal -->
        <div class="content">
            <h2>Atestado</h2>
            <p>
                Atesto para que o(a) Sr. (a) <span>@Model.Paciente.NomeCompleto</span> portador da Carteira de identidade n° <span>@Model.Paciente.Rg</span>
                residente e domiciliado(a) à <span>@Model.Paciente.Endereco</span>, que esteve sob cuidades médicos no dia <span> @Model.Data.ToString("dd/MM/yyyy")</span>
                deverá se afastar de suas atividades pelo período de ___________ dias de trabalho a partir desta data. 
            </p>

            <p>
                Atestado feito no dia <span>@DateTime.Now.ToString("dd/MM/yyyy")</span> no horário <span>@DateTime.Now.ToString("mm:HH")</span>, na cliníca @Model.TemplateNomeClinica
                localizada no endereço  <span>@Model.ConfigTemplateLogradouro, @Model.ConfigTemplateNrLogradouro - @Model.ConfigTemplateBairro - @Model.ConfigTemplateCidade/@Model.ConfigTemplateEstado</span>
            </p>
        </div>
        <div>
            <br />
            <p>
                CID-10: @Model.Cid
            </p>
        </div>
        <!-- Assinaturas e rodapé -->
        <div>
            <div class="signature">
                <div>
                    <p>_________________________</p>
                    <p>Assinatura do Paciente</p>
                </div>
                <div>
                    <p>_________________________</p>
                    <p>Assinatura</p>
                </div>
            </div>
            <div class="footer">
                <p>@Model.TemplateNomeClinica</p>
                <p>@Model.ConfigTemplateLogradouro, @Model.ConfigTemplateNrLogradouro - @Model.ConfigTemplateBairro - @Model.ConfigTemplateCidade/@Model.ConfigTemplateEstado</p>
                <p>@Model.ConfigTemplateTelefone | @Model.ConfigTemplateEmail | @Model.ConfigTemplateSiteApoio</p>
                <p>Documento gerado digitalmente pelo sistema AVITA</p>
            </div>
            <p></p>
            <p style="font-size: 14px;color: #777777;">
                NOTA: Este atestado é válido para as finalidades previstas no Art. 86 do R.G.P.S. aprovado pelo Decreto nº 60.501 de 14/03/67 e será expedido para justificar de 1 a 15 dias de afastamento do trabalho
            </p>
        </div>
    </div>
</body>
</html>
