@model List<ehr_csharp.Models.Usuario>

@foreach (var usuario in Model)
{
    <tr>
        <td>
            <div class="d-flex align-items-center gap-3 ps-1">
                <div class="text-base">
                    <div class="form-check"><input class="form-check-input" type="checkbox"></div>
                </div>
                <div class="avatar avatar-sm text-bg-dark rounded-circle overflow-hidden">
                    @(!string.IsNullOrEmpty(usuario.UserImageBase64) ? Html.Raw($"<img src='{@usuario.UserImageBase64}' class='w-100 h-100 avatar avatar-sm text-bg-dark rounded-circle overflow-hidden d-inline-block'  style='object-fit: cover; ' />") : Html.Raw("<i class='bi bi-file-fill'></i>"))
                </div>
                <div><span class="d-block text-heading fw-bold">@usuario.UserName</span></div>
            </div>
        </td>
        <td>@usuario.Role</td>
        <td>@usuario.Email</td>
        <td class="d-none d-xl-table-cell">@usuario.CreatedAt</td>
        <td class="d-none d-xl-table-cell"><span class="badge badge-lg badge-dot"> @(!usuario.LockoutEnabled ? Html.Raw("<i class='bg-danger'></i>Desativado</span></td>") : Html.Raw("<i class='bg-success'></i>Ativo</span></td>"))
        <td class="text-end d-none d-sm-table-cell"><a href="/Usuario/Editar/@usuario.Id" class="btn btn-xs btn-neutral">Editar</a> <button onclick="RestaurarSenha('@usuario.Id')" class="btn btn-xs btn-neutral">Restaurar Senha</button></td>
    </tr>
}



<script>
    function RestaurarSenha(idUsuario) {
        
        if (!confirm("Tem certeza de que deseja restaurar a senha deste usuário?")) return;

        
        $.ajax({
            url: '/Usuario/RestaurarSenha', 
            type: 'POST', 
            data: { idUsuario: idUsuario }, 
            dataType: 'json', 
            success: function (data) {
                
                displayMensagemSucessoAjax("A senha do usuário foi alterada para a senha padrão do sistema.");
            },
            error: function (xhr, status, error) {
                
                console.error("Erro ao restaurar a senha:", error);
                alert("Ocorreu um erro ao tentar restaurar a senha. Por favor, tente novamente.");
            }
        });
    }
</script>
