@model ehr_csharp.Models.Usuario

@using (Html.BeginForm("Salvar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    @Html.HiddenFor(x => x.Id)

    <main class="container-fluid px-3 py-5 p-lg-6 p -xxl-8">
        <header class="border-bottom mb-10">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <h1 class="ls-tight">Usuários</h1>
                </div>
            </div>
            <ul class="nav nav-tabs nav-tabs-flush gap-6 overflow-x border-0 mt-4">
            </ul>
        </header>
        @if (errors.Count > 0)
        {
            <div class="col-xl-12" style="margin-top:40px;">
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "Erros encontrados:")
                </div>
            </div>
        }
        <div class="row align-items-center">
            <div class="col-md-1"><label class="form-label">Nome</label></div>
            <div class="col-md-2 col-xl-4">
                <div class="">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "Name" })
                </div>
            </div>
            <div class="col-md-1"><label class="form-label">Cargo</label></div>
            <div class="col-md-2">
                <select class="form-select" id="cargoSelect" name="Role" aria-label="Default select example" onchange="AlterarCargo(this)">
                    <option>Selecionar</option>
                    <option value="Admin">Administrador</option>
                    <option value="Medico">Médico</option>
                    <option value="Agenda">Assistente</option>
                </select>
            </div>
            <div class="col-md-1">
                @if (Model.UserName != null)
                {
                    @Html.CheckBoxFor(x => x.LockoutEnabled, new { @class = "form-check-input me-n2", @checked = !Model.LockoutEnabled })

                    @* <input class="form-check-input me-n2" type="checkbox" name="usuario.LockoutEnabled" id="switchView1" checked="checked"> *@
                    <label style="padding-left: 1rem" class="form-check-label" checked="checked" for="check_example">Bloqueado</label>
                }
            </div>
        </div>
        <hr class="my-6">

        <div class="row align-items-center">
            <div class="col-md-1"><label class="form-label">Login</label></div>
            <div class="col-md-2 col-xl-4">
                <div class="">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", name = "UserName" })
                    @* <input type="text" name="usuario.UserName" class="form-control"> *@
                </div>
            </div>
            @if (string.IsNullOrEmpty((Model.UserName)))
            {
                <div class="col-md-1"><label class="form-label">Senha</label></div>
                <div class="col-md-2 col-xl-4">
                    <div class="">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", name = "Password" })
                        @* <input type="password" name="usuario.Password" class="form-control"> *@
                    </div>
                </div>
            }
        </div>
        <hr class="my-6">
        <div class="row align-items-center">
            <div class="col-md-1"><label class="form-label">E-mail</label></div>
            <div class="col-md-2 col-xl-4">
                <div class="">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", name = "Email" })
                    @* <input type="text" name="usuario.Email" class="form-control"> *@
                </div>
            </div>

            <div class="col-md-1"><label class="form-label">Foto do Perfil</label></div>
            <div class="col-md-8 col-xl-5">
                <div class="">
                    <div class="d-flex align-items-center">
                        <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
                            <img src="@Model.UserImageBase64" alt="..." class="FileDisplay">
                        </a> @*../..https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=256&amp;h=256&amp;q=80*@
                        <div class="hstack gap-2 ms-5">
                            <label for="file_upload" class="btn btn-sm btn-neutral">
                                <span>Upload</span>
                                <input type="file" name="File" id="file_upload" class="visually-hidden FileInput">
                            </label> <a href="#" class="btn d-inline-flex btn-sm btn-neutral text-danger"><span><i class="bi bi-trash"></i> </span><span class="d-none d-sm-block me-2">Remove</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divMedico" style="display:none">
            <hr class="my-6">
            <div class="row align-items-center">
                <div class="col-md-1"><label class="form-label">CRM</label></div>
                <div class="col-md-2 col-xl-4">
                    <div class="">
                        @Html.TextBoxFor(x => x.Medico.CRM, new { @class = "form-control", name = "Medico.CRM" })
                        @* <input type="text" name="usuario.UserName" class="form-control"> *@
                    </div>
                </div>

                <div class="col-md-1"><label class="form-label">Especialidade</label></div>
                <div class="col-md-2">
                    @Html.DropDownList("Medico.IdEspecialidade", new SelectList(ViewBag.Especialidades, "Id", "Descricao", "0"), "Selecione", new { @class = "form-control" })

                    @*   <select class="form-select" id="IdEspecialidade" name="Medico.IdEspecialidade" aria-label="Default select example">
                <option>Selecionar</option>
                <option value="Admin">Administrador</option>
                <option value="Medico">Médico</option>
                <option value="3">Agenda</option>
                </select> *@
                </div>
            </div>
        </div>



        <hr class="my-6">
        <hr class="my-6 d-md-none">
        <div class="hstack gap-2 ms-auto align-items-end">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-none d-md-flex gap-2"><a href="/usuario/index" class="btn btn-sm btn-neutral">Cancelar</a> <button type="submit" class="btn btn-sm btn-primary">Salvar</button></div>
            </div>
        </div>
    </main>
}

<script>
    $(document).ready(function () {
        $("#cargoSelect").val("@Model.Role");

        if ("@Model.Role" == "Medico") {
            $("#divMedico").show()
        }

    });


    function AlterarCargo(selectObject) {

        if (selectObject.value == "Medico") {
            $("#divMedico").show()
        }
        else {
            $("#divMedico").hide()
        }

        console.log(value);
    }
</script>
