@model List<ehr_csharp.Models.Usuario>


<main class="container-fluid p-0">
    <div class="px-6 px-lg-7 pt-8 border-bottom">
        <div class="d-flex align-items-center">
            <h1>Usuários</h1>
            <div class="hstack gap-2 ms-auto">
                @* <button type="button" class="btn btn-sm btn-neutral d-none d-lg-inline-flex">
                <i class="bi bi-arrow-90deg-right me-2"></i> Export *@
                <a href="/Usuario/Editar" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus-lg me-2"></i> Cadastrar novo
                </a>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-flush gap-8 overflow-x border-0 mt-4">
            <li class="nav-item"><a href="#" class="nav-link active">All</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Administradores</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Médicos</a></li>
        </ul>
    </div>
    <div class="row align-items-center d-flex px-6 px-lg-7 pt-8">
        <div class="col-md-2">
            <label class="form-label mb-0">Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label mb-0">Login</label>
            <input type="password" class="form-control">
        </div>
        <div class="col-md-1">
            <label class="form-check-label" checked="checked" for="check_example">Ativos</label>
            <input class="form-check-input me-n2" type="checkbox" name="switch1" id="switchView1" checked="checked">
        </div>

    </div>

    <div class="d-flex gap-2 scrollable-x py-3 px-7 border-bottom">
        <button type="button" class="btn btn-xs btn-neutral text-xs"><i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Category</button> <button type="button" class="btn btn-xs btn-neutral text-xs"><i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Amount</button> <button type="button" class="btn btn-xs btn-neutral text-xs"><i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Status</button>
        <div class="align-items-center ms-auto text-sm text-muted text-primary-hover fw-semibold d-none d-md-flex" role="button"><i class="bi bi-x me-1"></i> <span>Clear filters</span></div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-sm table-nowrap">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex align-items-center gap-2 ps-1">
                            <div class="text-base">
                                <div class="form-check"><input class="form-check-input" type="checkbox"></div>
                            </div>
                            <span>Nome</span>
                        </div>
                    </th>
                    <th scope="col">Cargo</th>
                    <th scope="col">E-mail</th>
                    <th scope="col" class="d-none d-xl-table-cell">Cadastrado(a) em</th>
                    <th scope="col" class="d-none d-xl-table-cell">Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-3 ps-1">
                                <div class="text-base">
                                    <div class="form-check"><input class="form-check-input" type="checkbox"></div>
                                </div>
                                <div class="avatar avatar-sm text-bg-dark rounded-circle">
                                    @(!string.IsNullOrEmpty(usuario.UserImageBase64) ? Html.Raw($"<img src='{@usuario.UserImageBase64}'/>") : Html.Raw("<i class='bi bi-file-fill'></i>"))
                                
                                </div>
                                <div><span class="d-block text-heading fw-bold">@usuario.UserName</span></div>
                            </div>
                        </td>
                        <td>@usuario.Role</td>
                        <td>@usuario.Email</td>
                        <td class="d-none d-xl-table-cell">@usuario.CreatedAt</td>
                        <td class="d-none d-xl-table-cell"><span class="badge badge-lg badge-dot"> @(usuario.LockoutEnabled ? Html.Raw("<i class='bg-danger'></i>Desativado</span></td>") : Html.Raw("<i class='bg-success'></i>Ativo</span></td>"))
                        <td class="text-end"><button type="button" class="btn btn-sm btn-square btn-neutral w-rem-6 h-rem-6"><i class="bi bi-three-dots"></i></button></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="py-4 px-6">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 d-none d-md-block"><span class="text-muted text-sm">Showing 10 items out of 250 results found</span></div>
            <div class="col-md-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-spaced gap-1">
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>