@model List<ehr_csharp.Models.Paciente>
@{
    var somenteVisualicao = ViewBag.SomenteVisualizacao == "Agenda";
}

@foreach (var paciente in Model)
{
    <tr>

        <td>
            <div class="d-flex align-items-center gap-3 ps-1">
             
                <div><span class="d-block text-heading fw-bold">@paciente.NomeCompleto</span></div>
            </div>
        </td>
        <td class="">@paciente.Sexo</td>
            <td class="Data">@paciente.DataNascimento.ToString("dd/MM/yyyy")</td>
        <td class="TelefoneFixo">@paciente.TelefoneFixo</td>
        <td class="Celular">@paciente.Celular</td>
        <td class="text-end d-none d-sm-table-cell"><a href="/Paciente/Editar/@paciente.Id" class="btn btn-xs btn-neutral"> @((paciente.Editar && !somenteVisualicao) ? "Editar" :"Visualizar")</a></td>
    </tr>
}