@using System.Globalization;

@model ehr_csharp.Models.Paciente
@{
    var consultaEmAndamento = Model.Editar;
    var novoPaciente = (Model.Id == 0);
    var contador = 0;


}



<main class="container-fluid px-3 py-5 p-lg-6 p -xxl-8">
    <header class="border-bottom mb-5">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h1 class="ls-tight">@(Model.Id > 0 ? $"Pacientes - {Model.NomeCompleto}" : "Novo Paciente") </h1>
            </div>
        </div>
        <br />
        <style>
            .card {
                border-radius: 12px;
            }

            .nav-pills .nav-link.active {
                background-color: #6e46cc;
                color: #fff;
            }

            .card-header {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .info-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 12px;
                background-color: #0b111f;
                margin-bottom: 1rem;
            }

                .info-box h5 {
                    margin: 0;
                    font-weight: bold;
                }

                .info-box p {
                    margin: 0;
                }

            .visit-card {
                background-color: #0b111f;
                padding: 1rem;
                border-radius: 12px;
                text-align: center;
            }

                .visit-card h6 {
                    font-weight: bold;
                }

            .btn-new-visit {
                background-color: #17a2b8;
                color: white;
            }
        </style>
    </header>

    @Html.HiddenFor(x => x.Id, new { @id = "idPaciente" })
    <!-- Tabs -->
    <ul class="nav nav-pills mb-4 gap-1">
        @if (!novoPaciente)
        {
            <li class="nav-item" onclick="MudarAba('Principal')">
                <a class="nav-link active" id="navPrincipal" href="#">Principal</a>
            </li>
            <li class="nav-item" onclick="MudarAba('Consulta')" style="@(Model.Consultas != null && Model.Consultas.Count > 0 ? "": "display: none")">
                <a class="nav-link" id="navConsulta" href="#">Consulta</a>
            </li>
            <li class="nav-item" onclick="MudarAba('Hemograma')" style="@(Model.Consultas != null && Model.Consultas.Count > 0 ? "": "display: none")">
                <a class="nav-link" id="navHemograma" href="#">Hemograma</a>
            </li>
            <li class="nav-item" onclick="MudarAba('Documentos')" style="@(Model.Id > 0 ? "": "display: none")">
                <a class="nav-link" id="navDocumentos" href="#">Documentos</a>
            </li>
        }
        

    </ul>

    @using (Html.BeginForm("Salvar", "Paciente", FormMethod.Post, new { enctype = "multipart/form-data", id = "formSalvarPaciente" }))
    {
        var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
        <div id="divPrincipal">
            <div class="row">
                @if (!novoPaciente)
                {
                    <div class="col-md-7">
                        <div class="card">
                            <div class="d-flex align-items-center justify-content-between">

                                <div class="card-body d-flex flex-column col-lg-1">

                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <h3>@Model.NomeCompleto</h3>
                                        </div>

                                        <div>
                                            <span class="badge text-bg-primary"> @(Model.Ativo ? "ATIVO" : "Inativo")</span>
                                        </div>
                                    </div>
                                    <div class="avatar avatar-xl h-50 w-50">
                                        <img src="data:image/jpeg;base64,@Model.ImagemBase64" alt="Imagem do usuário" />
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mt-8">
                                        <div class="">
                                            <div class="d-flex gap-3 align-items-center">
                                                <span class="h6 fw-semibold text-muted">Próxima Consulta:</span>
                                            </div>
                                            <div class="fw-bold text-heading mt-3"> @(Model.Consultas?.Count > 0 ? Model.Consultas.OrderByDescending(x => x.Data).First().Data.ToString("dd/MM/yyyy HH:mm") : "Indefinido")  </div>
                                        </div>
                                        <span class="vr bg-dark bg-opacity-10"></span>
                                        <div class="">
                                            <div class="d-flex gap-3 align-items-center">
                                                <span class="h6 fw-semibold text-muted">Médico: </span>
                                            </div>
                                            <div class="fw-bold text-heading mt-3">@(Model.Consultas?.Count > 0 ? Model.Consultas.OrderByDescending(x => x.Data).First().Medico.Usuario.UserName : "Indefinido") </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="card-body d-flex flex-column col-lg-5">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h2>Dados pessoais</h2>
                                        <a href="#" class="text-muted">
                                            <i class="bi bi-arrow-repeat"></i>
                                        </a>
                                    </div>

                                    <div class="row mb-4">
                                        <!-- Coluna principal -->
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <strong>Nome Completo:</strong> <span>@Model.NomeCompleto</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Email:</strong> <span>@Model.Email</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Telefone:</strong> <span class="TelefoneFixo">@Model.TelefoneFixo</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Ocupação:</strong> <span>@Model.Profissao</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Endereço:</strong> <span>@Model.Endereco</span>
                                            </div>
                                        </div>

                                        <!-- Coluna secundária -->
                                        <div class="col-12 col-md-4">
                                            @if (Model.Id > 0)
                                            {
                                                <div class="mb-3">
                                                    <strong>Idade:</strong> <span>@((int)((DateTime.Now.Date - DateTime.Parse(Model.DataNascimento.ToString())).TotalDays / 365))</span>
                                                </div>
                                            }
                                            <div class="mb-3">
                                                <strong>Data de Nascimento:</strong> <span>@Model.DataNascimento</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Estado Civil:</strong> <span>
                                                    @{
                                                        string estadoCivilTexto = Model.EstadoCivil switch
                                                        {
                                                            "1" => "Casado(a)",
                                                            "2" => "Solteiro(a)",
                                                            "3" => "Divorciado(a)",
                                                            "4" => "Viúvo(a)",
                                                            "5" => "União Estável",
                                                            _ => "Não informado"
                                                        };
                                                    }
                                                    @estadoCivilTexto
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <strong>Paciente desde:</strong> <span>@Model.DataCadastro.ToString("dd/MM/yyyy")</span>
                                            </div>
                                            <div class="mb-3">
                                                <strong>Tipo:</strong> <span>Particular</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>


                        <div class="card mt-4">
                            <div class="card-body pb-3">
                                <h5 class="mb-3">Medicações</h5>
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item d-flex align-items-center border-0 py-3">
                                        <div class="flex-none w-rem-10 h-rem-10">
                                            <div class="w-100" alt="...">
                                                <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                    <i class="bi bi-droplet-half"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-fill ms-4 text-limit">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <a href="#"
                                                   class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                            </div>
                                            <div class="progress progress-sm my-1">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                            <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                                <div>
                                                    <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                                </div>
                                                <div>
                                                    <p class="card-text text-muted">
                                                        <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end ms-7">
                                            <div class="dropdown">
                                                <a class="text-muted" href="#" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#!" class="dropdown-item">Visualizar </a>
                                                    <a href="#!" class="dropdown-item">Editar</a>
                                                    <a href="#!" class="dropdown-item">Apagar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item d-flex align-items-center border-0 py-3">
                                        <div class="flex-none w-rem-10 h-rem-10">
                                            <div class="w-100" alt="...">
                                                <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                    <i class="bi bi-droplet-half"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-fill ms-4 text-limit">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <a href="#"
                                                   class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                            </div>
                                            <div class="progress progress-sm my-1">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                            <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                                <div>
                                                    <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                                </div>
                                                <div>
                                                    <p class="card-text text-muted">
                                                        <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end ms-7">
                                            <div class="dropdown">
                                                <a class="text-muted" href="#" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#!" class="dropdown-item">Visualizar </a>
                                                    <a href="#!" class="dropdown-item">Editar</a>
                                                    <a href="#!" class="dropdown-item">Apagar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item d-flex align-items-center border-0 py-3">
                                        <div class="flex-none w-rem-10 h-rem-10">
                                            <div class="w-100" alt="...">
                                                <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                    <i class="bi bi-droplet-half"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-fill ms-4 text-limit">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <a href="#"
                                                   class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                            </div>
                                            <div class="progress progress-sm my-1">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                            <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                                <div>
                                                    <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                                </div>
                                                <div>
                                                    <p class="card-text text-muted">
                                                        <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end ms-7">
                                            <div class="dropdown">
                                                <a class="text-muted" href="#" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#!" class="dropdown-item">Visualizar </a>
                                                    <a href="#!" class="dropdown-item">Editar</a>
                                                    <a href="#!" class="dropdown-item">Apagar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {

                    <div class="col-md-3 card">

                        <div class="">
                            <a href="#" class="avatar avatar-lg bg-warning text-white">
                                <img src="@Model.ImagemBase64" class="FileDisplay" alt="...">
                            </a> 
                            <div class="hstack gap-2 ms-5">
                                <label for="file_upload" class="btn btn-sm btn-neutral">
                                    <span>Selecionar</span>
                                    <input type="file" name="File" id="file_upload" class="visually-hidden FileInput">
                                </label>
                            </div>
                        </div>

                        <label class="form-label" for="Antecedentes">ANTECEDENTES:</label>
                        <div class="row align-items-center">
                            <div class="col-md-6 row" style="align-self: normal;">
                                <div class="col-md-10">
                                    <label class="form-label" for="AntecedenteDesc">Descrição:</label>
                                    <input class="form-control" id="AntecedenteInput" />
                                </div>
                                <div class="col-md-2" style="padding-top: 2rem;">
                                    <button type="button" onclick="AdicionarAntecedente()" class="btn btn-sm btn-primary">+</button>
                                </div>
                            </div>
                        </div>

                        <div id="divContainer" style="padding-top: 1.3rem;" class="row align-items-center col-md-5">
                            @foreach (var item in Model.Antecedentes)
                            {
                                <div class="col-md-10" id="idAntecedenteContainer@(Model.Antecedentes.IndexOf(item))">
                                    <label class="form-label" for="AntecedenteDesc">

                                    </label>
                                    <input readonly="" name="Antecedentes@(Model.Antecedentes.IndexOf(item))" class="form-control" value="@item.Descricao">
                                </div>

                                <div class="col-md-2" style="padding-top: 0.5rem;" id="idAntecedenteBtn@(Model.Antecedentes.IndexOf(item))">
                                    <button type="button" onclick="RemoverAntecedente(@Model.Antecedentes.IndexOf(item))" class="btn btn-sm btn-primary">-</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="d-flex align-items-center justify-content-between">

                                <div class="card-body d-flex flex-column col-lg-6">
                                    <div>
                                        <div class="d-flex gap-3 mb-5">
                                            <div class=" col-lg-12 row">
                                                <div class="col-md-7">
                                                    <label class="form-label mb-0">* Nome Completo</label>
                                                    @Html.TextBox("NomeCompleto", Model.NomeCompleto, new { @class = "form-control-sm", id = "NomeCompleto" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0" for="DataNascimento">* Data de Nascimento</label>
                                                    @Html.TextBoxFor(x => x.DataNascimento, new { @class = "form-control-sm Data", name = "DataNascimento", id = "DataNascimento", Type = "Date" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label mb-0" for="Sexo">* Sexo</label>
                                                    @Html.DropDownListFor(model => model.Sexo, new List<SelectListItem>
                                            {
                                            new SelectListItem { Text = "Selecionar", Value = "" },
                                            new SelectListItem { Text = "Feminino", Value = "F" },
                                            new SelectListItem { Text = "Masculino", Value = "M" }
                                            }, new { @class = "form-select-sm", @id = "Sexo" })
                                                </div>

                                                <br />

                                                <div class="col-md-6">
                                                    <label class="form-label mb-0" for="Email">* Email</label>
                                                    @Html.TextBox("Email", Model.Email, new { @class = "form-control-sm", id = "Email" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0" for="TelefoneFixo">* Telefone Fixo</label>
                                                    @Html.TextBox("TelefoneFixo", Model.TelefoneFixo, new { @class = "form-control-sm TelefoneFixo", id = "TelefoneFixo" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0" for="Celular">* Celular</label>
                                                    @Html.TextBox("Celular", Model.Celular, new { @class = "form-control-sm Celular", id = "Celular" })
                                                </div>

                                                <br />

                                                <div class="col-md-4">
                                                    <label class="form-label mb-0" for="Profissao">* Profissão</label>
                                                    @Html.TextBox("Profissao", Model.Profissao, new { @class = "form-control-sm", id = "Profissao" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0" for="Cpf">* CPF</label>
                                                    @Html.TextBox("Cpf", Model.Cpf, new { @class = "form-control-sm Cpf", id = "Cpf" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0" for="Rg">* RG</label>
                                                    @Html.TextBox("Rg", Model.Rg, new { @class = "form-control-sm Rg", id = "Rg" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label mb-0" for="EstadoCivil">* Estado Civil</label>
                                                    @Html.DropDownListFor(model => model.EstadoCivil, new List<SelectListItem>
                                                     {
                                                     new SelectListItem { Text = "Selecionar", Value = "" },
                                                     new SelectListItem { Text = "Casado(a)", Value = "1" },
                                                     new SelectListItem { Text = "Solteiro(a)", Value = "2" },
                                                     new SelectListItem { Text = "Divorciado(a)", Value = "3" },
                                                     new SelectListItem { Text = "Viúvo(a)", Value = "4" },
                                                     new SelectListItem { Text = "União Estável", Value = "5" },
                                                     }, new { @class = "form-select-sm", @id = "EstadoCivil" })
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label mb-0" for="Cep">* CEP</label>
                                                    @Html.TextBox("Cep", Model.Cep, new { @class = "form-control-sm Cep", id = "Cep" })
                                                </div>
                                                <div class="col-md-10">
                                                    <label class="form-label mb-0" for="Endereco">* Endereço</label>
                                                    @Html.TextBox("Endereco", Model.Endereco, new { @class = "form-control-sm", id = "Endereco" })
                                                </div>

                                            </div>
                                           
                                            <div class="d-flex mx-n1"></div>

                                        </div>
                                        <hr class="my-4">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-label mb-0" for="Altura">* Altura (m)</label>
                                                @Html.TextBox("Altura", Model.Altura, new { @class = "form-control-sm", id = "Altura" })
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label mb-0" for="Peso">* Peso (kg)</label>
                                                @Html.TextBox("Peso", Model.Peso, new { @class = "form-control-sm", id = "Peso" })
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label mb-0" for="Carteirinha">Carteirinha</label>
                                                @Html.TextBox("Carteirinha", Model.Carteirinha, new { @class = "form-control-sm", id = "Carteirinha" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>






                    </div>
                }
                <!-- Patient Info -->
                <div class="col-md-5">
                    @if (!novoPaciente)
                    {
                        <div class="row col-13">
                            <div class="d-flex gap-2">

                                <div class="card bg-tertiary bg-opacity-10 border-tertiary border-opacity-40 col-6">
                                    <div class="card-body d-flex flex-column p-4 ">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="flex-none w-rem-10 h-rem-10">
                                                <div class="w-100" alt="...">
                                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                        <i class="bi bi-rulers"></i>

                                                    </span>
                                                </div>
                                            </div>
                                            <h6>Altura</h6>
                                        </div>
                                        <div class="">
                                            <div class="text-xs mt-2">Metros(m)</div>
                                            <div class="text-xl fw-semibold">@Model.Altura</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-tertiary bg-opacity-10 border-tertiary border-opacity-40 col-6">
                                    <div class="card-body d-flex flex-column p-4 ">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="flex-none w-rem-10 h-rem-10">
                                                <div class="w-100" alt="...">
                                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                        <i class="bi bi-database-fill"></i>

                                                    </span>
                                                </div>
                                            </div>
                                            <h6>Peso</h6>
                                        </div>
                                        <div class="">
                                            <div class="text-xs mt-2">Quilogramas(kg)</div>
                                            <div class="text-xl fw-semibold">@Model.Peso</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <div class="card bg-tertiary bg-opacity-10 border-tertiary border-opacity-40 ">
                                    <div class="card-body d-flex flex-column p-4 ">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="flex-none w-rem-10 h-rem-10">
                                                <div class="w-100" alt="...">
                                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                        <i class="bi bi-postcard-heart-fill"></i>

                                                    </span>
                                                </div>
                                            </div>
                                            <h6>Convênio</h6>
                                        </div>
                                        <div class="">
                                            <div class="text-xs mt-2">Carteirinha</div>
                                            <div class="text-xl fw-semibold">@Model.Carteirinha</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <div>
                                        <h5>Consultas Agendadas</h5>
                                    </div>
                                    <div class="hstack align-items-center">
                                        <a href="#" class="text-muted">
                                            <i class="bi bi-arrow-repeat"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="vstack gap-6">

                                    @if (Model.Consultas == null || Model.Consultas.Count == 0)
                                    {

                                        <div class="col-md-12 mt-3">
                                            <div class="visit-card">
                                                <p>Sem consultas por enquanto.</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var consulta in Model.Consultas.OrderByDescending(x => x.Data))
                                        {
                                            if (contador < 10)
                                            {
                                                <div>
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="icon icon-shape flex-none text-base bg-body-secondary rounded-circle">
                                                            <i class="bi bi-calendar-event"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="progress-text mb-1 d-block">@consulta.Motivo - @consulta.Data.ToString("dd/MM/yyyy")</h6>
                                                            <p class="text-muted text-xs">
                                                                @(consulta.StatusConsulta == (int)StatusConsulta.Finalizada ? "Concluída" : (consulta.StatusConsulta == (int)StatusConsulta.Cancelado ? "Cancelada" : "Agendada"))
                                                            </p>
                                                        </div>
                                                        <div class="text-end ms-auto">
                                                            <span class="h6 text-sm"> @consulta.Medico.Especialidade.Descricao </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                contador++;
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (novoPaciente)
                    {
                        <div class="hstack gap-2 ms-auto align-items-end mt-5">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-none d-md-flex gap-2">
                                    <a href="/paciente/index" class="btn btn-sm btn-neutral">Voltar</a>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>

                                </div>
                            </div>
                        </div>
                    }
                    
                    
                </div>
            </div>
            @if (novoPaciente)
            {
                <div class="hstack gap-2 ms-auto align-items-end mt-5">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-none d-md-flex gap-2">
                            <a href="/paciente/index" class="btn btn-sm btn-neutral">Voltar</a>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>

                        </div>
                    </div>
                </div>
            }
            
        </div>

    }


    <div id="divConsulta" style="display:none">
        @if (Model.Consultas != null && Model.Consultas.Count > 0)
        {
            <form id="formAbaConsulta">
                <input class="form-control" type="hidden" id="idConsulta" name="Id" value="@Model.ultimaConsulta.Id">
                <input class="form-control" type="hidden" id="idPrescricao" name="Prescricao.Id" value="@Model.ultimaConsulta.Prescricao?.Id">

                <div class="row">
                    <!-- Insurance Information -->
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>* Queixa</h6>
                                <div class="row mt-2">
                                    @Html.TextArea("QueixaPrincipal", Model.ultimaConsulta.QueixaPrincipal, new { @class = "form-control", rows = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Historico da doença atual</h6>
                                <div class="row mt-2">
                                    @Html.TextArea("HistoricoDoencaAtual", Model.ultimaConsulta.HistoricoDoencaAtual, new { @class = "form-control", rows = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Orientações</h6>
                                <div class="row mt-2">
                                    @Html.TextArea("Orientacoes", Model.ultimaConsulta.Orientacoes, new { @class = "form-control", rows = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Hipótese Diagnóstica</h6>
                                <div class="row mt-2">
                                    @Html.TextArea("HipoteseDiagnostica", Model.ultimaConsulta.HipoteseDiagnostica, new { @class = "form-control", rows = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Exames Solicitados</h6>
                                <div class="row mt-2">
                                    @Html.TextArea("ExamesSolicitados", Model.ultimaConsulta.ExamesSolicitados, new { @class = "form-control", rows = "6" })
                                </div>
                                <br />

                                <h6>Data do retorno:</h6>
                                <div class="row mt-2">
                                    @Html.TextBox("RetornoConsulta", Model.ultimaConsulta.RetornoConsulta, new { @class = "form-control Data", type = "Date" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <label class="form-label" for="Medicamentos">PRESCRIÇÃO</label>
                                <div class="row align-items-center">
                                    <div class="col-md-11 row" style="align-self: normal;">
                                        <div class="col-md-3">
                                            <label class="form-label" for="MedicamentoDesc">Nome do Medicamento:</label>
                                            <input class="form-control" id="MedicamentoInput" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="DosagemDesc">Dosagem:</label>
                                            <input class="form-control" id="DosagemInput" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="IntervaloDesc">Intervalo:</label>
                                            <input class="form-control" id="IntervaloInput" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="IntervaloDesc">Duração:</label>
                                            <input class="form-control" id="DuracaoInput" />
                                        </div>
                                    </div>

                                    <div class="col-md-1" style="padding-top: 2rem;">
                                        <button type="button" onclick="AdicionarMedicamento()" class="btn btn-sm btn-primary">+</button>
                                    </div>
                                </div>

                                <div style="align-self: normal;" id="divMedicamentosAdicionados" class="row align-items-center">
                                    @if(Model.ultimaConsulta.Prescricao != null)
                                    {
                                        @foreach (var item in Model.ultimaConsulta.Prescricao.Medicamentos)
                                        {
                                            var indexItem = Model.ultimaConsulta.Prescricao.Medicamentos.IndexOf(item);

                                            <input type="hidden" name="Prescricao.Medicamentos[@(indexItem)].Medicacao" value="@item.Medicacao">
                                            <input type="hidden" name="Prescricao.Medicamentos[@(indexItem)].Dosagem" value="@item.Dosagem">
                                            <input type="hidden" name="Prescricao.Medicamentos[@(indexItem)].Intervalo" value="@item.Intervalo">
                                            <input type="hidden" name="Prescricao.Medicamentos[@(indexItem)].Duracao" value="@item.Duracao">
                                            <input type="hidden" name="Prescricao.Medicamentos[@(indexItem)].Id" id="Medicamento@(indexItem)Id" value="@item.Id">

                                            <div class="col-md-11 row" id="idMedicamentoContainer@(indexItem)" style="padding-top: 1rem;">
                                                <div class="col-md-3">
                                                    <input readonly="" name="Medicamentos@(indexItem)" class="form-control col-md-3" value="@item.Medicacao">
                                                </div>
                                                <div class="col-md-3">
                                                    <input readonly="" name="Medicamentos@(indexItem)" class="form-control col-md-3" value="@item.Dosagem">
                                                </div>
                                                <div class="col-md-3">
                                                    <input readonly="" name="Medicamentos@(indexItem)" class="form-control col-md-3" value="@item.Intervalo">
                                                </div>
                                                <div class="col-md-3">
                                                    <input readonly="" name="Medicamentos@(indexItem)" class="form-control col-md-3" value="@item.Duracao">
                                                </div>
                                            </div>
                                            <div class="col-md-1" style="padding-top: 0.15rem; " id="idMedicamentoBtn@(indexItem)">
                                                <button type="button" onclick="RemoverMedicamento(@indexItem, false)" class="btn btn-sm btn-primary">-</button>
                                            </div>
                                        }
                                    } 

                                   
 
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <button type="button" onclick="salvarAbaConsulta()" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                <br>
            </form>
        }
    </div>


    <div id="divHemograma" style="display:none">
        @if (Model.Consultas != null && Model.Consultas.Count > 0)
        {
             @using (Html.BeginForm("UploadFile", "OpenAI", FormMethod.Post, new { enctype = "multipart/form-data", id = "openAiUploadForm" }))
        {
            <label for="file">Importar arquivo de exame:</label>
            <input type="file" id="file" name="file" />
            <button type="button" onclick="enviarEAnaalisar()">Enviar e Analisar</button>
        }

            <form id="formHemograma">
                <input class="form-control" type="hidden" id="idConsulta" name="idConsulta" value="@Model.Consultas.OrderByDescending(x => x.Data).First().Id">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="Eritrocitos">Eritrócitos:</label>
                        @Html.TextBox("Eritrocitos", Model.ultimaConsultaHemograma.Eritrocitos, new { @class = "form-control", id = "Eritrocitos", step = "0.01" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Hemoglobina">Hemoglobina:</label>
                        @Html.TextBox("Hemoglobina", Model.ultimaConsultaHemograma.Hemoglobina, new { @class = "form-control", id = "Hemoglobina", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Hematocrito">Hematócrito:</label>
                        @Html.TextBox("Hematocrito", Model.ultimaConsultaHemograma.Hematocrito, new { @class = "form-control", id = "Hematocrito", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="VCM">VCM:</label>
                        @Html.TextBox("VCM", Model.ultimaConsultaHemograma.VCM, new { @class = "form-control", id = "VCM", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="HCM">HCM:</label>
                        @Html.TextBox("HCM", Model.ultimaConsultaHemograma.HCM, new { @class = "form-control", id = "HCM", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="CHCM">CHCM:</label>
                        @Html.TextBox("CHCM", Model.ultimaConsultaHemograma.CHCM, new { @class = "form-control", id = "CHCM", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="RDW">RDW:</label>
                        @Html.TextBox("RDW", Model.ultimaConsultaHemograma.RDW, new { @class = "form-control", id = "RDW", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Leucocitos_Absoluto">Leucócitos Absoluto:</label>
                        @Html.TextBox("Leucocitos_Absoluto", Model.ultimaConsultaHemograma.Leucocitos_Absoluto, new { @class = "form-control", id = "Leucocitos_Absoluto", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Leucocitos_Relativo">Leucócitos Relativo:</label>
                        @Html.TextBox("Leucocitos_Relativo", Model.ultimaConsultaHemograma.Leucocitos_Relativo, new { @class = "form-control", id = "Leucocitos_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Bastonetes_Absoluto">Bastonetes Absoluto:</label>
                        @Html.TextBox("Bastonetes_Absoluto", Model.ultimaConsultaHemograma.Bastonetes_Absoluto, new { @class = "form-control", id = "Bastonetes_Absoluto", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Bastonetes_Relativo">Bastonetes Relativo:</label>
                        @Html.TextBox("Bastonetes_Relativo", Model.ultimaConsultaHemograma.Bastonetes_Relativo, new { @class = "form-control", id = "Bastonetes_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Segmentados_Absoluto">Segmentados Absoluto:</label>
                        @Html.TextBox("Segmentados_Absoluto", Model.ultimaConsultaHemograma.Segmentados_Absoluto, new { @class = "form-control", id = "Segmentados_Absoluto", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Segmentados_Relativo">Segmentados Relativo:</label>
                        @Html.TextBox("Segmentados_Relativo", Model.ultimaConsultaHemograma.Segmentados_Relativo, new { @class = "form-control", id = "Segmentados_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Eosinofilos_Absoluto">Eosinófilos Absoluto:</label>
                        @Html.TextBox("Eosinofilos_Absoluto", Model.ultimaConsultaHemograma.Eosinofilos_Absoluto, new { @class = "form-control", id = "Eosinofilos_Absoluto", step = "0.01" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Eosinofilos_Relativo">Eosinófilos Relativo:</label>
                        @Html.TextBox("Eosinofilos_Relativo", Model.ultimaConsultaHemograma.Eosinofilos_Relativo, new { @class = "form-control", id = "Eosinofilos_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Basofilos_Absoluto">Basófilos Absoluto:</label>
                        @Html.TextBox("Basofilos_Absoluto", Model.ultimaConsultaHemograma.Basofilos_Absoluto, new { @class = "form-control", id = "Basofilos_Absoluto", step = "0.01" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Basofilos_Relativo">Basófilos Relativo:</label>
                        @Html.TextBox("Basofilos_Relativo", Model.ultimaConsultaHemograma.Basofilos_Relativo, new { @class = "form-control", id = "Basofilos_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Linfocitos_Absoluto">Linfócitos Absoluto:</label>
                        @Html.TextBox("Linfocitos_Absoluto", Model.ultimaConsultaHemograma.Linfocitos_Absoluto, new { @class = "form-control", id = "Linfocitos_Absoluto", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Linfocitos_Relativo">Linfócitos Relativo:</label>
                        @Html.TextBox("Linfocitos_Relativo", Model.ultimaConsultaHemograma.Linfocitos_Relativo, new { @class = "form-control", id = "Linfocitos_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Monocitos_Absoluto">Monócitos Absoluto:</label>
                        @Html.TextBox("Monocitos_Absoluto", Model.ultimaConsultaHemograma.Monocitos_Absoluto, new { @class = "form-control", id = "Monocitos_Absoluto", step = "0.01" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Monocitos_Relativo">Monócitos Relativo:</label>
                        @Html.TextBox("Monocitos_Relativo", Model.ultimaConsultaHemograma.Monocitos_Relativo, new { @class = "form-control", id = "Monocitos_Relativo", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Plaquetas">Plaquetas:</label>
                        @Html.TextBox("Plaquetas", Model.ultimaConsultaHemograma.Plaquetas, new { @class = "form-control", id = "Plaquetas" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="VPM">VPM:</label>
                        @Html.TextBox("VPM", Model.ultimaConsultaHemograma.VPM, new { @class = "form-control", id = "VPM", step = "0.1" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Glicemia">Glicemia:</label>
                        @Html.TextBox("Glicemia", Model.ultimaConsultaHemograma.Glicemia, new { @class = "form-control", id = "Glicemia" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Creatinina">Creatinina:</label>
                        @Html.TextBox("Creatinina", Model.ultimaConsultaHemograma.Creatinina, new { @class = "form-control", id = "Creatinina" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="AcidoUrico">Ácido Úrico:</label>
                        @Html.TextBox("AcidoUrico", Model.ultimaConsultaHemograma.AcidoUrico, new { @class = "form-control", id = "AcidoUrico" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Prolactina">Prolactina:</label>
                        @Html.TextBox("Prolactina", Model.ultimaConsultaHemograma.Prolactina, new { @class = "form-control", id = "Prolactina" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Testosterona">Testosterona:</label>
                        @Html.TextBox("Testosterona", Model.ultimaConsultaHemograma.Testosterona, new { @class = "form-control", id = "Testosterona" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="ColesterolTotal">Colesterol Total:</label>
                        @Html.TextBox("ColesterolTotal", Model.ultimaConsultaHemograma.ColesterolTotal, new { @class = "form-control", id = "ColesterolTotal" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="HDL">HDL:</label>
                        @Html.TextBox("HDL", Model.ultimaConsultaHemograma.HDL, new { @class = "form-control", id = "HDL" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="Triglicerides">Triglicerídeos:</label>
                        @Html.TextBox("Triglicerides", Model.ultimaConsultaHemograma.Triglicerides, new { @class = "form-control", id = "Triglicerides" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="LDL">LDL:</label>
                        @Html.TextBox("LDL", Model.ultimaConsultaHemograma.LDL, new { @class = "form-control", id = "LDL" })
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="NaoHDL">Não-HDL:</label>
                        @Html.TextBox("NaoHDL", Model.ultimaConsultaHemograma.NaoHDL, new { @class = "form-control", id = "NaoHDL" })
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="salvarAbaHemograma()">Salvar</button>
            </form>
        }
    </div>

    <div id="divDocumentos" style="display:none">
        @using (Html.BeginForm("AdicionarArquivo", "Paciente", FormMethod.Post, new { enctype = "multipart/form-data", id = "AdicionarArquivoForm" }))
        {
            <div class="col-md-4">
                <label class="form-label" for="nmArquivo">* Nome do Arquivo:</label>
                <input class="form-control" id="nmArquivo">
            </div>
            <br>
            <input type="file" id="file" name="file" />


            <button type="button" class="btn btn-sm btn-primary" onclick="AdicionarArquivo()">Enviar</button>
        }
        <table class="table table-hover table-striped table-sm table-nowrap">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex align-items-center gap-2 ps-1">
                            <span>Arquivo</span>
                        </div>
                    </th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="bodyAnexo">
                @foreach (var item in Model.Anexos)
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-3 ps-1">
                                <div><span class="d-block text-heading fw-bold">@item.NomeArquivo</span></div>
                            </div>
                        </td>
                        <td class="">@item.TipoArquivo.ToUpper()</td>
                        <td class="text-end d-none d-sm-table-cell">
                            <a class="btn btn-sm btn-primary" onclick="BaixarArquivo(@item.IdAnexo)">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" onclick="DesativarArquivo(@item.IdAnexo)">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    @if (!novoPaciente)
    {
        <div class="hstack gap-2 ms-auto align-items-end mt-5">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-none d-md-flex gap-2">
                    <a href="/paciente/index" class="btn btn-sm btn-neutral">Voltar</a>
                    @if (consultaEmAndamento)
                    {
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Concluir Consulta</button>
                    }
                </div>
            </div>
        </div>
    }
</main>





<script>
    $(document).ready(function () {
        if ("@Model.Editar" != 'True') {
            $("#formSalvarPaciente :input").prop("disabled", true);
        }
    });


    let contador = 0;
    function AdicionarAntecedente() {
        var inputValue = $('#AntecedenteInput').val();

        if (inputValue.trim() === "") {
            alert("Por favor, insira um valor.");
            return;
        }


        var novaDiv = $('<div class="col-md-11" id="idAntecedenteContainer' + contador + '"> <label class= "form-label" for="AntecedenteDesc"> </label> <input readonly name="Antecedentes' + contador + '" class="form-control" value="' + inputValue + '" /> </div><div class="col-md-2" style="padding-top: 0.5rem;" id="idAntecedenteBtn' + contador + '"> <button type="button" onclick="RemoverAntecedente(' + contador + ')" class="btn btn-sm btn-primary">-</button> </div>');


        $('<input>').attr({
            type: 'hidden',
            name: 'Antecedentes[' + contador + '].Descricao',
            value: inputValue
        }).appendTo('#divContainer');

        $('#divContainer').append(novaDiv);
        contador++;
        $('#AntecedenteInput').val('');
    }

    function RemoverAntecedente(id) {
        $("#idAntecedenteContainer" + id).remove();
        $("#idAntecedenteBtn" + id).remove();
        $("input[name='Antecedentes[" + id + "].Descricao']").remove();
    }


    let contadorMedicamento = @(Model.ultimaConsulta?.Prescricao?.Medicamentos != null
        ? Model.ultimaConsulta.Prescricao.Medicamentos.Count()
        : 0);

    function AdicionarMedicamento() {
        var nomeMedicamento = $('#MedicamentoInput').val();
        var dosagemMedicamento = $('#DosagemInput').val();
        var intervaloMedicamento = $('#IntervaloInput').val();
        var duracaoMedicamento = $('#DuracaoInput').val();

        if (nomeMedicamento == '') {
            alert("Por favor, insira o medicamento.");
            return;
        }
        if (dosagemMedicamento == '') {
            alert("Por favor, insira a dosagem.");
            return;
        }
        if (intervaloMedicamento == '') {
            alert("Por favor, insira o intervalo de medicação.");
            return;
        }

        var novaDiv = $('</br> <div class="col-md-11 row" id="idMedicamentoContainer' + contadorMedicamento + '" style="padding-top: 1rem;"> <div class="col - md - 3">  <input readonly name="Medicamentos' + contadorMedicamento + '" class="form - control col - md - 3" value="' + nomeMedicamento + '" /></div> <div class="col - md - 3">  <input readonly name="Medicamentos' + contadorMedicamento + '" class="form - control col - md - 3" value="' + dosagemMedicamento + '" /></div>  <div class="col - md - 3">  <input readonly name="Medicamentos' + contadorMedicamento + '" class="form - control col - md - 3" value="' + intervaloMedicamento + '" /></div> <div class="col - md - 3">  <input readonly name="Medicamentos' + contadorMedicamento + '" class="form - control col - md - 3" value="' + duracaoMedicamento + '" /></div>   </div> <div class="col - md - 1" style="padding-top: 0.15rem; " id="idMedicamentoBtn' + contadorMedicamento + '"> <button type="button" onclick="RemoverMedicamento(' + contadorMedicamento + ', true)" class="btn btn-sm btn-primary">-</button> </div>');


        $('<input>').attr({
            type: 'hidden',
            name: 'Prescricao.Medicamentos[' + contadorMedicamento + '].Medicacao',
            value: nomeMedicamento
        }).appendTo('#divMedicamentosAdicionados');

        $('<input>').attr({
            type: 'hidden',
            name: 'Prescricao.Medicamentos[' + contadorMedicamento + '].Dosagem',
            value: dosagemMedicamento
        }).appendTo('#divMedicamentosAdicionados');
        $('<input>').attr({
            type: 'hidden',
            name: 'Prescricao.Medicamentos[' + contadorMedicamento + '].Intervalo',
            value: intervaloMedicamento
        }).appendTo('#divMedicamentosAdicionados');
        $('<input>').attr({
            type: 'hidden',
            name: 'Prescricao.Medicamentos[' + contadorMedicamento + '].Duracao',
            value: duracaoMedicamento
        }).appendTo('#divMedicamentosAdicionados');

        $('#divMedicamentosAdicionados').append(novaDiv);

        contadorMedicamento++;

        $('#MedicamentoInput').val('');
        $('#DosagemInput').val('');
        $('#IntervaloInput').val('');
        $('#DuracaoInput').val('');
    }

    function RemoverMedicamento(id, novo) {
        if (novo) {
            $("#idMedicamentoContainer" + id).remove();
            $("#idMedicamentoBtn" + id).remove();

            $("input[name='Medicamento[" + id + "].Medicacao']").remove();
            $("input[name='Medicamento[" + id + "].Dosagem']").remove();
            $("input[name='Medicamento[" + id + "].Intervalo']").remove();
            $("input[name='Medicamento[" + id + "].Duracao']").remove();
        }
        else {
            if (!confirm("Tem certeza de que deseja remover esta Medicação? \nEsta ação não poderá ser desfeita!")) return;

            var medicamentoId = $("#Medicamento"+id+"Id").val();

            $.ajax({
                url: '@Url.Action("ExcluirMedicamentoPrescricao", "Consulta")',
                type: 'POST',
                data: { "Id": medicamentoId },
                success: function (data) {
                    $("#idMedicamentoContainer" + id).remove();
                    $("#idMedicamentoBtn" + id).remove();

                    $("input[name='Medicamento[" + id + "].Medicacao']").remove();
                    $("input[name='Medicamento[" + id + "].Dosagem']").remove();
                    $("input[name='Medicamento[" + id + "].Intervalo']").remove();
                    $("input[name='Medicamento[" + id + "].Duracao']").remove();

                    displayMensagemSucessoAjax();
                },
                error: function (xhr, status, error) {
                    alert("Ocorreu um erro ao excluir prescrição");
                }
            });
        }
    }


    function MudarAba(aba) {
        if (aba == 'Principal') {
            $("#divHemograma").hide();
            $("#divDocumentos").hide();
            $("#divPrincipal").show();
            $("#divConsulta").hide();

            $("#navHemograma").removeClass("active");
            $("#navDocumentos").removeClass("active");
            $("#navPrincipal").addClass("active");
            $("#navConsulta").removeClass("active");
        }
        else if (aba == 'Hemograma') {
            $("#divHemograma").show();
            $("#divDocumentos").hide();
            $("#divPrincipal").hide();
            $("#divConsulta").hide();

            $("#navHemograma").addClass("active");
            $("#navDocumentos").removeClass("active");
            $("#navPrincipal").removeClass("active");
            $("#navConsulta").removeClass("active");
        }
        else if (aba == 'Documentos') {
            $("#divHemograma").hide();
            $("#divDocumentos").show();
            $("#divPrincipal").hide();
            $("#divConsulta").hide();

            $("#navHemograma").removeClass("active");
            $("#navDocumentos").addClass("active");
            $("#navPrincipal").removeClass("active");
            $("#navConsulta").removeClass("active");
        }
        else if (aba == 'Consulta') {
            $("#divHemograma").hide();
            $("#divDocumentos").hide();
            $("#divPrincipal").hide();
            $("#divConsulta").show();

            $("#navHemograma").removeClass("active");
            $("#navDocumentos").removeClass("active");
            $("#navPrincipal").removeClass("active");
            $("#navConsulta").addClass("active");
        }
    }

    function preencherCampos(dados) {
    @*        debugger; *@
            $('#Eritrocitos').val(dados.Hemograma.Eritrocitos);
        $('#Hemoglobina').val(dados.Hemograma.Hemoglobina);
        $('#Hematocrito').val(dados.Hemograma.Hematocrito);
        $('#VCM').val(dados.Hemograma.VCM);
        $('#HCM').val(dados.Hemograma.HCM);
        $('#CHCM').val(dados.Hemograma.CHCM);
        $('#RDW').val(dados.Hemograma.RDW);

        $('#Leucocitos_Absoluto').val(dados.Hemograma.Leucocitos.Absoluto);
        $('#Leucocitos_Relativo').val(dados.Hemograma.Leucocitos.Relativo);

        $('#Bastonetes_Absoluto').val(dados.Hemograma.Bastonetes.Absoluto);
        $('#Bastonetes_Relativo').val(dados.Hemograma.Bastonetes.Relativo);

        $('#Segmentados_Absoluto').val(dados.Hemograma.Segmentados.Absoluto);
        $('#Segmentados_Relativo').val(dados.Hemograma.Segmentados.Relativo);

        $('#Eosinofilos_Absoluto').val(dados.Hemograma.Eosinofilos.Absoluto);
        $('#Eosinofilos_Relativo').val(dados.Hemograma.Eosinofilos.Relativo);

        $('#Basofilos_Absoluto').val(dados.Hemograma.Basofilos.Absoluto);
        $('#Basofilos_Relativo').val(dados.Hemograma.Basofilos.Relativo);

        $('#Linfocitos_Absoluto').val(dados.Hemograma.Linfocitos.Absoluto);
        $('#Linfocitos_Relativo').val(dados.Hemograma.Linfocitos.Relativo);

        $('#Monocitos_Absoluto').val(dados.Hemograma.Monocitos.Absoluto);
        $('#Monocitos_Relativo').val(dados.Hemograma.Monocitos.Relativo);

        $('#Plaquetas').val(dados.Hemograma.Plaquetas);
        $('#VPM').val(dados.Hemograma.VPM);
        $('#Glicemia').val(dados.Hemograma.Glicemia);

        $('#Creatinina').val(dados.Hemograma.Creatinina);
        $('#AcidoUrico').val(dados.Hemograma.AcidoUrico);
        $('#Prolactina').val(dados.Hemograma.Prolactina);
        $('#Testosterona').val(dados.Hemograma.Testosterona);
        $('#ColesterolTotal').val(dados.Hemograma.ColesterolTotal);
        $('#HDL').val(dados.Hemograma.HDL);
        $('#Triglicerides').val(dados.Hemograma.Triglicerides);
        $('#LDL').val(dados.Hemograma.LDL);
        $('#NaoHDL').val(dados.Hemograma.NaoHDL);
    }

    function enviarEAnaalisar() {

        var formData = new FormData($('#openAiUploadForm')[0]);

        $.ajax({
            url: '@Url.Action("UploadFile", "OpenAI")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    preencherCampos(data.data);
                    console.log("Análise realizada com sucesso:", data.data);
                } else {
                    console.log("Erro:", data.message);
                    alert(data.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Erro ao enviar o formulário:", error);
                alert("Ocorreu um erro ao enviar o arquivo.");
            }
        });
    }

    function AdicionarArquivo() {

        var formData = new FormData($('#AdicionarArquivoForm')[0]);
        formData.append("idPaciente", $("#idPaciente").val());
        formData.append("nmArquivo", $("#nmArquivo").val());

        $.ajax({
            url: '@Url.Action("AdicionarArquivo", "Paciente")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    preencherCampos(data.data);
                    console.log("Análise realizada com sucesso:", data.data);
                } else {
                    console.log("Erro:", data.message);
                    alert(data.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Erro ao enviar o formulário:", error);
                alert("Ocorreu um erro ao enviar o arquivo.");
            }
        });
    }

    function DesativarArquivo(idAnexo) {
        if (!confirm("Tem certeza de que deseja remover este arquivo? \nEsta ação não poderá ser desfeita!")) return;

        $.ajax({
            url: '@Url.Action("DesativarArquivo", "Paciente")',
            type: 'POST',
            data: { "idAnexo": idAnexo },
            success: function (data) {

            },
            error: function (xhr, status, error) {

            }
        });
    }

    function BaixarArquivo(idAnexo) {
        $.ajax({
            url: '@Url.Action("BaixarArquivo", "Paciente")',
            type: 'POST',
            data: { idAnexo: idAnexo },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (data, status, xhr) {

                var filename = "";
                var disposition = xhr.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) {
                        filename = matches[1].replace(/['"]/g, '');
                    }
                }

                var link = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                link.href = url;
                link.download = filename || 'arquivo_download.pdf'; // Define um nome padrão caso não tenha
                link.click();

                // Libera o objeto de URL após o download
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error("Erro ao baixar o arquivo:", error);
                alert("Ocorreu um erro ao tentar baixar o arquivo.");
            }
        });
    }

    function salvarAbaHemograma() {
        var formData = new FormData($('#formHemograma')[0]);

        $.ajax({
            url: '@Url.Action("SalvarAbaHemograma", "Consulta")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                displayMensagemSucessoAjax();
            },
            error: function (xhr, status, error) {
                console.error("Erro ao enviar o formulário:", error);
                alert("Ocorreu um erro ao enviar o arquivo.");
            }
        });
    }

    function salvarAbaConsulta() {
        var formData = new FormData($('#formAbaConsulta')[0]);

        $.ajax({
            url: '@Url.Action("SalvarAbaConsulta", "Consulta")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                displayMensagemSucessoAjax();
            },
            error: function (xhr, status, error) {
                console.error("Erro ao enviar o formulário:", error);
                alert("Ocorreu um erro ao enviar o arquivo.");
            }
        });
    }


</script>