@model ehr_csharp.Models.Paciente
@{
    var consultaEmAndamento = Model.Editar;
    var novoPaciente = (Model.Id == 0);
    var contador = 0;
}

<main class="container-fluid p-0">
    <div class="px-6 px-lg-7 pt-8 border-bottom">
        <div class="d-flex align-items-center">
            <h1>Medicações</h1>

        </div>
        <ul class="nav nav-tabs nav-tabs-flush gap-8 overflow-x border-0 mt-4">
            <li class="nav-item"><a href="#" class="nav-link active">Todos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Semana</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Mês</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ano</a></li>
        </ul>
    </div>
    <div class="row align-items-center g-6 mt-0 m-3">
        <div class="col-sm-6">
            <div class="d-flex flex-wrap gap-2">
                <div class="input-group input-group-sm input-group-inline w-100 w-md-50">
                    <span class="input-group-text">
                        <i class="bi bi-search me-2"></i>
                    </span><input type="search" class="form-control ps-0" placeholder="Procurar" aria-label="Search">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hstack justify-content-end gap-2">
                <div class="d-flex align-items-center justify-content-end gap-2">
                    <div class="align-items-center ms-auto text-sm text-muted text-primary-hover fw-semibold d-md-flex"
                         role="button">
                        <i class="bi bi-x me-1"></i> <span>Limpar Filtros</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="table-responsive border-top">
        <table class="table table-hover table-striped table-sm table-nowrap">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex align-items-center gap-2 ps-1">
                            <span>Medicação</span>
                        </div>
                    </th>
                    <th scope="col">Dose</th>
                    <th scope="col">Intervalo</th>
                    <th scope="col" class="d-none d-xl-table-cell">Duração</th>
                    <th scope="col" class="d-none d-xl-table-cell">Médico</th>
                    <th scope="col" class="d-none d-xl-table-cell">Data da Consulta</th>
                    <th scope ="col" class="d-none d-xl-table-cell">Prescrição</th>
                    <th scope="col" class="d-none d-xl-table-cell text-end">Ação</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Consultas != null)
                {
                    @foreach (var consulta in Model.Consultas)
                    {
                        @if (consulta.Prescricao != null)
                        {

                            @foreach (var medicamento in consulta.Prescricao.Medicamentos)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 ps-1">
                                            <div><span class="d-block text-heading fw-bold">@medicamento.Medicacao</span></div>
                                        </div>
                                    </td>
                                    <td class="text-xs">@medicamento.Dosagem</td>
                                    <td>@medicamento.Intervalo</td>
                                    <td class="d-none d-xl-table-cell">@medicamento.Duracao</td>
                                    <td class="d-none d-xl-table-cell">
                                        <span class="badge badge-lg badge-dot">
                                            @consulta.Medico.Usuario.Name
                                        </span>
                                    </td>
                                    <td class="d-none d-xl-table-cell">@consulta.Data</td>
                                    <td class="d-none d-xl-table-cell">@consulta.Prescricao.Id</td>
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a class="text-muted" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="#!"
                                                class="dropdown-item">Exportar </a>
                                                <a href="#!" class="dropdown-item">Analise </a>
                                                <a href="#!" class="dropdown-item">Retorno</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    }

                }

                

            </tbody>
        </table>
    </div>
    <div class="py-4 px-6">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 d-none d-md-block">
                <span class="text-muted text-sm">
                    15 itens de 250 resultados encontrados

                </span>
            </div>
            <div class="col-md-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-spaced gap-1">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="bi bi-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>

