 @using System.Globalization;
 @model ehr_csharp.Models.Paciente
@{
    var consultaEmAndamento = Model.Editar;
    var novoPaciente = (Model.Id == 0);
    var contador = 0;
}


<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">

    <div class="mb-6 mb-xl-8">
        <div class="row g-3 align-items-center">
            <div class="col">
                <h1 class="h2 ls-tight">Dashboard</h1>
            </div>
        </div>
    </div>
   

    <div class="row g-8">


        <div class="col-lg-7 vstack gap-5">
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">

                    <div class="card-body d-flex flex-column col-lg-1">

                        <div class="avatar avatar-xl rounded-circle h-75 w-75">
                            @* @(!string.IsNullOrEmpty(@Model.ImagemBase64) ? Html.Raw($"<img src='{@Model.ImagemBase64}'/>") : Html.Raw("<i class='bi bi-file-fill'></i>"))
                            *@       <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center" style="width: 150px; height: 150px;">
                            <img src="data:image/jpeg;base64,@Model.ImagemBase64"
                                 alt="Imagem do usuário"
                                 class="w-100 h-100"
                                 style="object-fit: cover;" />
                                 </div>
                        </div>


                        <div class="d-flex align-items-center justify-content-between mt-8">
                            <div class="">
                                <div class="d-flex gap-3 align-items-center">
                                    <span class="h6 fw-semibold text-muted">Médico </span>
                                </div>
                                <div class="fw-bold text-heading mt-3">
                                    @(Model.Consultas?.Count > 0 ? Model.Consultas.OrderByDescending(x => x.Data).First().Medico.Usuario.UserName : "Indefinido")
                                </div>
                            </div>
                            <div class="">
                                <div class="d-flex gap-3 align-items-center">
                                    <span class="h6 fw-semibold text-muted">Próxima Consulta</span>
                                </div>
                                <div class="fw-bold text-heading mt-3">
                                     @(Model.Consultas?.Count > 0 ? Model.Consultas.OrderByDescending(x => x.Data).First().Data.ToString("dd/MM/yyyy HH:mm") : "Indefinido") 
                                    </div>
                            </div>
                            <span class="vr bg-dark bg-opacity-10"></span>
                            
                        </div>


                    </div>


                    <div class="card-body d-flex flex-column col-lg-5">

                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <div>
                                <h3>Dados pessoais</h3>
                            </div>
                            <div class="hstack align-items-center">
                                <a href="#" class="text-muted">
                                    <i class="bi bi-arrow-repeat"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex gap-3 mb-5">
                                <div class="d-flex flex-column col-lg-8">
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Nome Completo:</h5>
                                        <p>@Model.NomeCompleto</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Email:</h5>
                                        <p>@Model.Email</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Telefone:</h5>
                                        <p>@Model.Celular</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Ocupação:</h5>
                                        <p>@Model.Profissao</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Endereço:</h5>
                                        <p>@Model.Endereco</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Idade:</h5>
                                        <p>
                                            @{
                                                var dataInicial = Model.DataNascimento; // Supondo que seja DateOnly
                                                var dataFinal = DateOnly.FromDateTime(DateTime.Now); // Converter DateTime para DateOnly

                                                // Calculando a idade
                                                var idade = dataFinal.Year - dataInicial.Year;

                                                // Ajusta se a data de nascimento ainda não ocorreu este ano
                                                if (dataFinal < dataInicial.AddYears(idade))
                                                {
                                                    idade--;
                                                }
                                            }
                                            @idade anos
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Data de Nascimento:</h5>
                                        <p>@Model.DataNascimento.ToString("dd/MM/yyyy")</p>
                                    </div>

                                    <div class="d-flex align-items-center gap-2">
                                        <h5>Estado Cívil:</h5>
                                        <p>
                                            @{
                                                string estadoCivilTexto = Model.EstadoCivil switch
                                                {
                                                    "1" => "Casado(a)",
                                                    "2" => "Solteiro(a)",
                                                    "3" => "Divorciado(a)",
                                                    "4" => "Viúvo(a)",
                                                    "5" => "União Estável",
                                                    _ => "Não informado"
                                                };
                                            }
                                            @estadoCivilTexto
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column col-lg-3">
                                    
                                </div>
                                <div class="d-flex mx-n1"></div>

                            </div>
                            <hr class="my-4">
                            <div class="d-flex flex-column col-lg-8">
                                <div class="d-flex align-items-center gap-2">
                                    <h5>Paciente desde:</h5>
                                    <p>@Model.DataCadastro</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <h5>Tipo:</h5>
                                    <p>Particular</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

            <div class="card">
                <div class="card-body pb-3">
                    <h5 class="mb-3">Prescrições Receitadas</h5>
                    <div class="list-group list-group-flush">
                        @if (Model.Consultas != null && Model.Consultas.Count > 0)
                        {
                            @foreach (var consulta in Model.Consultas)
                            {
                                @if (consulta.Prescricao != null)
                                {

                                    @foreach (var medicamento in consulta.Prescricao.Medicamentos)
                                    {
                                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                                            <div class="flex-none w-rem-10 h-rem-10">
                                                <div class="w-100" alt="...">
                                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                                        <i class="bi bi-capsule"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-fill ms-4 text-limit">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <a href="#"
                                                       class="d-block text-sm text-heading fw-bold">@medicamento.Medicacao</a>
                                                    <span class="text-muted text-xs fw-semibold">Pedido: 09/11/2024</span>
                                                </div>
                                                
                                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                                    <div>
                                                        <span class="font-weight-bold text-muted">Médico: @consulta.Medico.Usuario.Name</span>
                                                    </div>
                                                    <div>
                                                        <p class="card-text text-muted">
                                                            <time datetime="2020-06-23">Especialidade: @consulta.Medico.Especialidade.Descricao</time>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-end ms-7">
                                                <div class="dropdown">
                                                    <a class="text-muted" href="#" role="button"
                                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="bi bi-three-dots-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    }

                        }

                            }

                        }
                        else
                        {
                            <div class="vstack gap-6">

                                <div class="col-md-12 mt-3">
                                    <div class="visit-card">
                                        <p>Sem prescrições por enquanto.</p>
                                    </div>
                                </div>
                            </div>
                        }

                        
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 vstack gap-5">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <div>
                            <h5>Consultas Agendadas</h5>
                        </div>
                        <div class="hstack align-items-center">
                            <a href="#" class="text-muted">
                                <i class="bi bi-arrow-repeat"></i>
                            </a>
                        </div>
                    </div>
                    <div class="vstack gap-6">
                        
                        @if (Model.Consultas == null || Model.Consultas.Count == 0)
                        {

                            <div class="col-md-12 mt-3">
                                <div class="visit-card">
                                    <p>Sem consultas por enquanto.</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (var consulta in Model.Consultas.OrderByDescending(x => x.Data))
                            {
                                if (contador < 10)
                                {
                                    <div>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="icon icon-shape flex-none text-base bg-body-secondary rounded-circle">
                                                <i class="bi bi-calendar-event"></i>
                                            </div>
                                            <div>
                                                <h6 class="progress-text mb-1 d-block">@consulta.Motivo - @consulta.Data.ToString("dd/MM/yyyy")</h6>
                                                <p class="text-muted text-xs">
                                                    @(consulta.StatusConsulta == (int)StatusConsulta.Finalizada ? "Concluída" : (consulta.StatusConsulta == (int)StatusConsulta.Cancelado ? "Cancelada" : "Agendada"))
                                                </p>
                                            </div>
                                            <div class="text-end ms-auto">
                                                <span class="h6 text-sm">@consulta.Medico.Especialidade.Descricao</span>
                                            </div>
                                        </div>
                                    </div>
                                    contador++;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pb-0">
                    <div class="mb-2 d-flex align-items-center">
                        <h5>Documentos Recentes</h5>
                        <div class="ms-auto text-end">
                            <a href="#" class="text-sm fw-semibold">Ver mais</a>
                        </div>
                    </div>
                    <div class="vstack gap-6">

                        <div class="col-md-12 mt-3">
                            <div class="visit-card">
                                <p>Sem documentos por enquanto.</p>
                            </div>
                        </div>
                    </div>

                    <div class="surtitle mt-6"></div>

                </div>
            </div>

        </div>
    </div>
</main>

